swagger: "2.0"
info:
  description: "API to serve data to Youtube Trending Video Map"
  title: "Youtube Trending Video Map API"
  version: "1.0.0"
host: "<GCLOUD PROJECT ID>.appspot.com"
consumes:
- "application/json"
produces:
- "application/json"
schemes:
- "https"
paths:
  "/countryids":
    get:
      description: "Lists all country Ids as defined by YouTube."
      operationId: "countryids"
      produces:
      - "application/json"
      responses:
        200:
          description: "List of country Ids"
          schema:
            $ref: "#/definitions/countryids"
  "/toptrendingvideos":
    get:
      description: "List top trending videos being tracked by the API for a given country"
      operationId: "toptrendingvideos"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Input is a country Id"
        required: true
        schema:
          $ref: "#/definitions/inputregions"
      responses:
        200:
          description: "List of trending videos for the given country"
          schema:
            $ref: "#/definitions/trendingvideos"
  "/alltrendingvideos":
    get:
      description: "List all trending videos being tracked by the API for a given country"
      operationId: "alltrendingvideos"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Input is a country Id"
        required: true
        schema:
          $ref: "#/definitions/inputregions"
      responses:
        200:
          description: "List of trending videos for the given country"
          schema:
            $ref: "#/definitions/trendingvideos"
  "/videoviews":
    get:
      description: "List all view data points stored by the API for a given video"
      operationId: "videoviews"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Input is a video Id"
        required: true
        schema:
          $ref: "#/definitions/inputvideos"
      responses:
        200:
          description: "List of data points across time of the number of views of the given video"
          schema:
            $ref: "#/definitions/videoviews"
definitions:
  countryids:
    type: "array"
    items:
      type: "object"
      properties:
        cid:
          type: "string"
        name:
          type: "string"
        longitude:
          type: "number"
          format: "double"
        latitude:
          type: "number"
          format: "double"
  trendingvideos:
    type: "array"
    items:
      type: "object"
      properties:
        vid:
          type: "string"
        name:
          type: "string"
  videoviews:
    type: "array"
    items:
      type: "object"
      properties:
        date:
          type: "string"
          format: "date"
        views:
          type: "number"
          format: "int64"
  inputregions:
    type: "string"
  inputvideos:
    type: "string"